<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-questions-heading" data-cy="QuestionsCreateUpdateHeading">Create or edit a Questions</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_formId">Form Id</label>
          <input type="text" class="form-control" name="formId" id="field_formId" data-cy="formId" formControlName="formId" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_subType">Sub Type</label>
          <input type="text" class="form-control" name="subType" id="field_subType" data-cy="subType" formControlName="subType" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_annexure">Annexure</label>
          <select class="form-control" id="field_annexure" data-cy="annexure" name="annexure" formControlName="annexure">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="annexureOption.id === editForm.get('annexure')!.value?.id ? editForm.get('annexure')!.value : annexureOption"
              *ngFor="let annexureOption of annexuresCollection; trackBy: trackAnnexureById"
            >
              {{ annexureOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
