<div>
  <h2 id="page-heading" data-cy="QuestionsHeading">
    <span>Questions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-questions"
        [routerLink]="['/questions/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Questions </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="questions?.length === 0">
    <span>No questions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="questions && questions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Form Id</span></th>
          <th scope="col"><span>Type</span></th>
          <th scope="col"><span>Sub Type</span></th>
          <th scope="col"><span>Description</span></th>
          <th scope="col"><span>Annexure</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let questions of questions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/questions', questions.id, 'view']">{{ questions.id }}</a>
          </td>
          <td>{{ questions.formId }}</td>
          <td>{{ questions.type }}</td>
          <td>{{ questions.subType }}</td>
          <td>{{ questions.description }}</td>
          <td>
            <div *ngIf="questions.annexure">
              <a [routerLink]="['/annexure', questions.annexure?.id, 'view']">{{ questions.annexure?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/questions', questions.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/questions', questions.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(questions)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
